@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

#portfolio{
  /* width: 90%; */
  margin:  25px auto;
}

.stack {
  width: 25px;
  height: 25px;
  margin: .5rem;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  margin: 25px auto;
  padding: 2%;
  width: 90%;
}

.portfolio {
  width: 70%;
  margin: 25px auto;
  padding: auto;
}

h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  margin: 10px auto;
}

button {
  display: inline-block;
  border: none;
  padding: .5rem .5rem;
  width: 65px;
  margin: .2rem;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  background: black;
  color: white;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
}

p{
  font-size: 14px;
  margin: 25px auto;
  text-align: left;
}

.demo{
  margin: 25px auto;
}

.demo p{
  margin: 0;
}

.demo-credentials{
  font-weight: bold;
}

@media screen and (min-width: 678px) {

  #portfolio{
    width: 90%;
  }

  .stack {
    width: 30px;
    height: 30px;
  }

  h1{
    font-size: 30px;
    margin: 20px auto;
  }

  button {
    width: 8rem;
    margin: 1px;
    width: 75px;
  }

  .project{
    margin: 25px auto;
    width: 100%;
  }

  .thumbnail {
    margin: auto;
    padding: 0;
    flex: 40%;
  }

  .info{
    flex: 55%;
   }
} 