@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

#portfolio{
  width: 90%;
  margin:  60px auto;
}

.stack {
  width: 30px;
  height: 30px;
  margin: .5rem;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  margin: 25px auto;
  padding: 2%;
}

.portfolio {
  width: 90%;
  margin: 25px auto;
  padding: auto;
}

h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  margin: 20px auto;
}

button {
  display: inline-block;
  border: none;
  width: 8rem;
  padding: .5rem .5rem;
  margin: .5rem;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  background: black;
  color: white;
  font-size: .85rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media screen and (min-width: 600px) {
  .project {
    width: 70%;
  }
  
  .thumbnail {
    margin: auto;
    padding: 0;
    flex: 40%;
  }

  .info{
    flex: 55%;
   }
} 

@media screen and (max-width: 400px) {
  p{
    font-size: 14px;
  }

  .portfolio{
    width: 70%;
  }

  .stack {
    width: 25px;
    height: 25px;
  }

  h1{
    font-size: 30px;
    margin: 10px auto;
  }

  button {
    width: 6rem;
    padding: .5rem .5rem;
    margin: .3rem;
  }

  .project{
    margin: 5% 2%;
  }
} 