@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}

.container a{
  width: 27.5%;
  margin: 7.5% auto;
  padding: 35px 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.icon {
  height: 50px;
}

.connect-header {
  margin: 100px auto 0 auto;
  text-align: center;
  font-size: 20px;
}

.connect-text {
  margin: 15px auto;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  #contact {
    width: 60%;
    margin: auto;
  } 

  .connect-header {
    font-size: 30px;
  }

  .connect-text {
    margin: 15px auto;
  }
} 