@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.Header{
  /* background: rgb(77, 92, 75); */
  background: black;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: 'Roboto Mono', monospace;
  z-index: 3;
}

.header-flex{
  display: flex;
}

.nav-link{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 14px 2%;
}

.flex-link{
  flex: 0 20%;
  color: white;
  text-decoration: none;
  transition: background 250ms ease-in-out, 
  transform 150ms ease;
}

.flex-link:hover{
  /* background: rgb(221, 221, 221);
  color: rgb(99, 99, 99);
  font-weight: bold; */
  text-decoration: none;
}

.flex-link:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.flex-link:active {
  transform: scale(0.99);
}

@media screen and (min-width: 768px) {
  .nav-link{
    font-size: 18px;
    margin: 11px 2.5%;
  }
} 