@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.Header{
  background: black;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: 'Roboto Mono', monospace;
  z-index: 3;
}

.header-flex{
  display: flex;
}

.nav-link{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 14px 2%;
}

.flex-link, .flex-link a{
  flex: 0 20%;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .flex-link a{
    padding: 5px 15px;
  }
} 

.flex-link a:hover{
  font-weight: bold;
  text-decoration: none;
  color: black;
  background: white;
}

@media screen and (min-width: 768px) {
  .nav-link{
    font-size: 18px;
    margin: 11px 2.5%;
  }
} 