@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.Header{
  background: rgb(99, 99, 99);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  font-family: 'Amatic SC', cursive;
}

.header-flex{
  display: flex;
}

.nav-link{
  display: inline-block;
  text-align: center;
  font-size: 25px;
  margin: 7.5px 2.5%;
  text-decoration: none;
}

.flex-link{
  flex: 0 20%;
  color: white;
  text-decoration: none;
  transition: background 250ms ease-in-out, 
  transform 150ms ease;
}

.flex-link:hover{
  background: rgb(221, 221, 221);
  color: rgb(99, 99, 99);
  font-weight: bold;
  text-decoration: none;
}

.flex-link:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.flex-link:active {
  transform: scale(0.99);
}

@media screen and (max-width: 400px) {
  .nav-link{
    font-size: 22px;
    margin: 9px 2.5%;
  }
} 