@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.Header{
  background: blue;
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: 'Roboto Mono', monospace;
  z-index: 3;
}
