@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');

.outer{
  text-align: center;
  margin: 15% auto 0 auto;
}


.inner{
  color: black;
  border: 4px solid lightgrey;
  font-family: 'Amatic SC', cursive;
  width: 80%;
  margin: 10% auto;
}

h1{
  font-size: 38px;
  margin: 10% auto;
}

h2{
  font-size: 24px;
  margin: 10% auto;
  width: 80%;
}

@media screen and (min-width: 700px) {

  .inner{
    width: 60%;
  }
} 


@media screen and (max-width: 450px) {
  .outer{
    margin: 40% auto 0 auto;
  }

  h1{
    font-size: 28px;
  }
  
  h2{
    font-size: 20px;
  }
} 