@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://images.pexels.com/photos/1227648/pexels-photo-1227648.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');

#enter{
    text-align: center;
    margin-top: 50px;
    /* background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://image.freepik.com/free-photo/cactus-with-space-pot-wooden-table-top-view_7192-949.jpg'); */
    /* background-image: url('https://images.pexels.com/photos/1227648/pexels-photo-1227648.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover; */
    width: 90%;
    height: 50%;
    margin: 75px auto 0px auto;
  } 

.name{
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

.job{
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.enter-container{
  margin: auto;
  width: 80%;
  height: 250px;
}

@media screen and (min-width: 768px) {
  #enter {
    max-width: 800px;
    margin: 50px auto;
  } 

  .name{
    font-size: 50px;
  }
  
  .job{
    font-size: 30px;
  }

  .enter-container{
    height: 300px;
  }
} 

/* h1{
  font-size: 34px;
  margin: 10% auto 5% auto;
}

h2{
  font-size: 22px;
  margin: 8% auto;
  line-height: 2rem;
  width: 80%;
} */


@media screen and (min-width: 700px) {

  h1, h2{
    margin: 8% auto;
  }

  .emoji img{
    margin: 5%;
  }
} 

@media screen and (min-width: 1100px) {

  h1, h2{
    margin: 6% auto;
  }
} 