@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

#about-me{
  width: 80%;
  margin: 15px auto;
  /* border: solid 4px lightgrey; */
  padding: 15px;
}

.about-me-header{
  font-size: 35px;
  margin-top: 85px;
  margin-bottom: 25px;
  font-family: 'Roboto Mono', 'monospace';
}

.headshot-img{
  flex: 25%;
  width: 40%;
  margin: 15px auto;
  border-radius: 100%;
}

.about-me-text{
  font-size: 16px;
  line-height: 1.75rem;
  padding: 1.25rem;
  margin: auto;
  text-align: left;
}

@media screen and (min-width: 800px) {
  #about-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }

  .headshot-img{
    margin: auto;
    flex: 25%;
    width: 80%;
  }

  .about-me{
    flex: 50%;
  }
} 

@media screen and (max-width: 400px) {
  #about-me{
    padding: 5px;
  }

  .about-me-text{
    font-size: 14px;
    line-height: 1.5rem;
  }
} 